.header-user-section{
    text-align: end;
    padding-right: .5rem;
}

.header-username{
    font-size:12px;
    font-weight: 900;
}

.header-companyName{
    font-size:12px;
    text-transform:uppercase;
}