.header-section{
   height:100%;
}

.header-logo-section{
    display: flex !important;
    align-items: center;
    justify-content: center;
    line-height: 50px;
}

.header-logo {
    font-size: 25px;
    color: #e4ebff;
    font-weight: 600;
}
